.back{
    background-image: url('8ball.png');
    width: 100%;
    height: auto;
    background-size: cover;
    overflow: hidden;
    position: relative;
}
.back1{
    background-image: url('img5.jpg');
    width: 100%;
    height: auto;
    background-position: center;
    background-size: cover;
}
.dvv{
    padding-top: 5px;
    padding-left: 2px;
    padding-right: 2px;
    margin-top: 13%;
    margin-left: 30%;
    background-color: #342F2D;
    width: 40%;
    height: auto;
    padding-bottom: 15px;
    border-radius: 5px;
    text-align: center;
    opacity: .9;
    box-shadow: 8px 10px 8px #20cfcf;
    z-index: 99;
    position: absolute;
}
input[type=text]{
    padding: 3%;
    width: 80%;
    border:1px solid #D1CDC7;
    border-radius: 10px;
}
input:focus { 
    outline: none !important;
    border-color: #719ECE;
    box-shadow: 0 0 10px #719ECE;
}
.btn1{
    background-color: #612E24;
    padding: 15px 20px;
    width: 40%;
    color: #D1CDC7;
    border:1px solid #D1CDC7;
    font-weight: 800;
    font-size: 1rem;
    border-radius: 10px;
    text-align: center;
    border: none;

}
.h1{
    color: #FDFBFA;
    font-weight: 1000;
}
.h3{
    color: #FDFBFA;
    font-weight: 800;
}
ul li{
    color: #FDFBFA;
    font-family: 'Anton', sans-serif;
    font-size: 25px;
}
.head{
    margin-top: 3%;
    padding-bottom: 2%;
    width: 100%;
    color: #FDFBFA;
    font-size:35px;
    font-weight: 1000;
    text-align: center;
    border-bottom: 2px solid rgb(238, 236, 236);
    font-family: 'Sansita Swashed', cursive;
}
.bord{
    border: 2px solid white;
    width: 100%;
    height: 400px;;
}

.text1{
    color: #FDFBFA;
    font-family: 'Sansita Swashed', cursive; 
    border-bottom: 1px solid rgb(238, 236, 236);
}
.text2{
    color: #FDFBFA;
    font-family: 'Sansita Swashed', cursive; 
    font-size: 25px;
    animation:  shake 0.8s; 
}

.btn2{
    margin-left: 20%;
    background-color: #db9155;
    padding: 15px 20px;
    width: 40%;
    color: #D1CDC7;
    border:1px solid #D1CDC7;
    font-weight: 800;
    font-size: 1rem;
    border-radius: 10px;
    text-align: center;
    border: none;
    display: none;
    animation:  shake 0.8s  ; 
}
@keyframes shake{ 
    0%{ 
      transform: translateX(0) 
    } 
    25%{ 
      transform: translateX(25px); 
    } 
      
    50%{ 
      transform: translateX(-25px); 
    } 
    100%{ 
      transform: translateX(0px); 
    } 
  } 

.third {
    border-color: #3498db;
    color: #fff;
    box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
  }
  .third:hover {
    box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
  }
  .answ{
    font-size: 30px; 
    font-weight: 1000; 
    color: rgb(233, 113, 14);
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    animation: moves 4s linear;
}  
@keyframes moves {
    from{ transform: rotate(-360deg); font-size:1px;}
   
    to{font-size:30px;}
}
.btn3{
    margin-left: 20%;
    background-color: #612E24;
    padding: 15px 20px;
    width: 40%;
    color: #D1CDC7;
    border:1px solid #D1CDC7;
    font-weight: 800;
    font-size: 1rem;
    border-radius: 10px;
    text-align: center;
    border: none;
    animation:  shake 0.8s; 
}

.imgs3{
    width: 48%;
    height: auto;
    margin-top: 0%;
    margin-left: 26%;
    position: absolute;
    opacity: .5;
    z-index: 6;
}


.rotate {
    animation: rotation 5s infinite linear;
  }
  
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

  .btn4{
    background-color: #612E24;
    padding: 8px 15px;
    width: 30%;
    color: #D1CDC7;
    border:1px solid #D1CDC7;
    font-weight: 800;
    font-size: 1rem;
    border-radius: 10px;
    text-align: center;
    border: none;
    display: none;

}

.thank{
    display: none;
    width: 40%;
    animation:moves1 3s linear ;
}
@keyframes moves1 {
    from{ transform: rotate(-360deg); width: 5px;}
   
    to{font-size:30px;}
}


.welcome{
    color: white; animation: welcome 1.3s linear infinite;
}
@keyframes welcome{
      
      50% {
         color:white;
    }
    100%{
        color: red;  
   }

}
.welcome:first-child{
    animation-delay: 0.25s ;
}
.welcome:nth-child(2){
    animation-delay: 0.5s ;
}
.welcome:nth-child(3){
    animation-delay: 0.75s ;
}
.welcome:nth-child(4){
    animation-delay: 1.1s ;
}